node_modules/
.pnpm-store/

# next
.next/
out/
next-env.d.ts

# env
.env
.env.local
.env*.local

# supabase local
supabase/.branches/
supabase/.temp/

# misc
.DS_Store
*.log
coverage/
.vercel
.turbo
tsconfig.tsbuildinfo
